.my-contacts__heading {
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 12px;
}

/* @media (max-width: 750px) {
  .my-contacts__heading {
    padding: 0;
  }
} */


 @media (max-width: 320px) {
  .my-contacts__heading {
    font-size: 1.2857em;
    padding-bottom: 4px;
  }
} 
