.page__form {
  margin: 0 11.75% 0 15px;
  padding: 4.72% 4.3% 5.8%;
}

@media (max-width: 700px) {
  .page__form {
    margin: 0;
  }
}

@media (max-width: 460px) {
  .page__form {
    max-width: 423px;
    max-height: 455px;
    margin-bottom: 58px;
  }
}

@media (max-width: 375px) {
  .page__form {
    padding: 39px 19px 32px 14px;
  }
}
