.my-contacts__item {
  max-width: 138px;
}

@media (max-width: 750px) {
  .my-contacts__item {
    margin-bottom: 10px;
  }
}

@media (max-width: 460px) {
  .my-contacts__item  {
    margin-bottom: 35px;
  }
}

@media (max-width: 375px) {
  .my-contacts__item  {
    margin-bottom: 26px;
  }
}